html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #000;
    background: #fff;
    overflow-x: hidden;
    font-family: Rajdhani;
}

a{
    font-family: Rajdhani;
    text-decoration: none;
    color: #fff;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

textarea::-webkit-scrollbar {
        width: 1vw;
      }

.logo{
  display:flex;
  position:absolute;
  height:3vh;
  width:auto;
  top:0px;
  right:0px;


}


@media only screen and (max-width: 820px) {



}


@media screen and (width: 1024px) {



}