html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #000;
    background: #fff;
    overflow-x: hidden;
}

a{
    
    text-decoration: none;
    color: #fff;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

textarea::-webkit-scrollbar {
        width: 1vw;
      }

.logo{
  display:block;
  position:relative;
  height:50vh;
  width:auto;
  top:0px;
  right:0px;
  margin:25vh 0vh;
}


@media screen and (max-width: 720px) {


.no-mobile{
  display:none !important; 
}

.books-filter-container{
display:none !important; 
}

.logo{
  display:block;
  position:relative;
  height:100vw;
  width:100vw;
  top:0px;
  right:0px;
  margin:25vh 0vh;

}

}


@media screen and (width: 1024px) {



}