html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

a:hover{
  color:#fff;
  background:#00ff00;
}

a.menu-element{
  background:black;
}

a.menu-element:hover{
  color:black;
  border:1px solid black;
  background:black;
}

.book-category-item{
  width:21vw;
  padding-left:1vw;
  z-index:1;
}

a.w-dyn-items:hover{
  background:#00ff00;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

textarea::-webkit-scrollbar {
  width: 1vw;
}



.logo{
  display:block;
  position:absolute;
  height:5vw;
  width:5vw;
  top:5px;
  left:5px;
}



a.menu-top:hover{
  background:#00ff00;
}

a.menu-element:hover{
  background:#000;
  color:#fff;
}

.link-home-logo{
  display:block;
  position:fixed;
  height:5vh;
  width:100vw;
  border-radius:0px;
  padding:1vh 1vh 1vh 1vh;
  z-index: 121;
}

.link-home-logo:hover{
  height:5vh;
  width:100vw;
  background:#00ff00;
  color:white;
  border-radius:0px;
  padding:1vh 1vh 1vh 1vh;
  left:0px;
}


.container{
  position: fixed;
  display: block;
  top:15vh;
  left:25vw;
  right:25vw;
  
}

.background-video{
  margin-top:-12.5vh;
}


@media screen and (max-width: 720px) {


  .no-mobile{
    display:none !important; 
  }

  .books-filter-container{
    display:none !important; 
  }

  .logo{
    display:block;
    position:absolute;
    height:15vw;
    width:15vw;
    top:0px;
    left:0px;
    margin:0vh 0vh;

  }


  .background-video{
    margin-top:0px;
  }

}